<div class="container">
    <div class="col-md-12">
        <div class="form-group mt-3">
            <input type="text" class="form-control" placeholder="Add an album" (keyUp.enter)="createAlbum(albumName)"
                #albumName>
        </div>
        <div class="text-center" *ngIf="loader">
            <div class="spinner-border text-primary"></div>
        </div>
        <ul class="list-group mt-4">
            <li class="list-group-item" *ngFor="let album of albums; index as albumIndex">
                <button class="btn btn-primary btn-sm" (click)="updateAlbum(album , albumIndex)">UPDATE</button> &nbsp;
                <button class="btn btn-sm btn-danger" (click)="deleteAlbum(album)">DELETE</button> &nbsp;
                {{album.title}}
            </li>
        </ul>
    </div>
</div>